.btn-relatorio {
  background: linear-gradient(to right, var(--blue-10), var(--blue-30));
}

.btn-relatorio:hover {
  background: linear-gradient(to right, var(--blue-20), var(--blue-50));

}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}